<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados de Correos Electrónicos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>
<body class="bg-dark text-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Correos Electrónicos para <%= dominio %></h1>
        <ul class="list-group">
            <% correos.forEach(function(correo) { %>
                <li class="list-group-item bg-secondary text-light">
                    <%= correo.value %> - Riesgo: <span class="text-<%= correo.riesgo %>"><%= correo.riesgo %></span>
                </li>
            <% }) %>
        </ul>
        <div class="text-center mt-4">
            <a href="/" class="btn btn-primary">Volver a la Búsqueda</a>
        </div>
    </div>
</body>
</html>



